# Bytecode
__pycache__/
*.py[cod]

# Environment folders
env/
venv/
.venv/
ENV/

# Flask instance and cache
instance/
.webassets-cache

# IDE & editor files
.vscode/
.idea/
*.log

# Model files / artifacts
*.pickle
*.pkl

# Jupyter Notebook artifacts
.ipynb_checkpoints

# OS/system files
.DS_Store
Thumbs.db

# Testing/coverage tools
.pytest_cache/
.coverage

# Optional: Env secrets
.env
